{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "classPrivateProperty": true,
            "dynamicImport": true
        }
    },
    "module": {
        "type": "commonjs"
    }
}