{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "dynamicImport": true,
      "classProperty": true,
      "exportDefaultFrom": true,
      "jsx": true
    }
  },
  "module": {
    "type": "commonjs"
  }
}